<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>4CjsgS0MTHrXNtzrAO7Q56vuFV8iEYD8bTCDrch1A2MrDgQeGV</string>
	<key>API Key</key>
	<string>NlUbmj7wcdHBCDK0sFVGAmslX</string>
</dict>
</plist>
